@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto+Slab&display=swap');
body > * {
  text-align: center
}
#quote {
  font-family: 'Playfair Display', serif;
}
p {
  font-family: 'Roboto Slab', serif;
}
p:not(#author) {
  font-size: 11px;
}
#divider {
  height: 3px;
  color: white;
  border-radius: 25px
}
